<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Pet Rescue Representatives would love to help you<br>
    choose a pet or answer any questions you may have.
  </p>
  <address>
    Pet Rescue HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, MD 21252
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:petrescuerep@emberjs.com">petrescuerep@emberjs.com</a>
  </address>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>